<nz-header>
  <app-search-field (searchInputValue)="onSearch($event)" (sortingInputValue)="onSorting($event)" ></app-search-field>
</nz-header>
<ng-container *ngIf="instructors$ | async as instructors">
  <nz-content>
    <div class="list-container">
      <div nz-row nzJustify="center">

          <ng-container *ngFor="let item of instructors">
            <app-card-item [instructor]="item"></app-card-item>
          </ng-container>
      </div>
    </div>
  </nz-content>
</ng-container>
<router-outlet></router-outlet>
