.card-container {
  margin: 0.5rem;
  height: 305px;
  width: 340px;
}
span {
  font-size: 18px;
  text-decoration: none solid rgb(38, 39, 59);
  height: 24px;
}
nz-card {
  width: 100%;
  height: 100%;
}
nz-card img {
  width: 20px;
  height: 20px;
}

nz-avatar {
  margin-top: 6px;
}
.name-container {
  margin: 0.5rem 0 0 1rem;
}
.name-container > span {
  margin-bottom: 1rem;
}
.company-name {
  margin-bottom: 0.5rem;
}

.company-name span {
  font-size: 14px;
  margin-left: 0.5rem;
}
.company-name img {
  border-radius: 6px;
}

.sub-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.sub-info div span {
  margin-left: 0.2rem;
  font-size: 14px;
}
.sub-info span {
  font-size: 10px;
  height: 13px;
}
.sub-info__rating {
  color: #facc41;
}

.sub-info__rating i {
  font-size: 14px;
}
.sub-info div {
  align-items: baseline;
}

.avatar-container {
  margin-bottom: 1rem;
}

.info-container .info span {
  font-size: 12px;
  align-items: baseline;
  height: 16px;
}

.info-container .info i {
  margin-right: 0.5rem;
  padding-top: 0.1rem;
}
.info {
  margin-bottom: 0.5rem;
}
.skills-info-badge {
  padding: 0 0.5rem;
  border: 1px solid #b6b7cc;
  border-radius: 20px;
  color: black;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}

.skills-info {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: #38b6a0;
  text-align: center;
  border-radius: 6px;
  color: white;
}
button:hover,
button:focus {
  background-color: rgb(47, 153, 135);
  border-color: rgb(47, 153, 135);
  color: white;
}

.button-container {
  width: 100%;
  text-align: center;
}
